@model IEnumerable<Elenco>

    <a class="btn btn-primary" asp-controller="GerenciarElenco" asp-action="EditarElenco">Novo Artista</a>

 @if(TempData["Msg"] != null)
            {
                <div class="alert alert-warning m-3" >
                    @TempData["Msg"]
                </div>
            }

<table class="table table-striped">
    <thead>
        <tr>
            <th>Personagem</th>
            <th>Nome Real</th>
            <th>Data de Nascimento</th>
            <th>Nacionalidade</th>
            <th>Estado Civil</th>
            <th>Quantidade de Filhos</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artista in Model)
        {
            <tr>
                <td>@artista.Personagem</td>
                <td>@artista.NomeReal</td>
                <td>@artista.DatadeNascimento.ToString("dd/MM/yyyy")</td>
                <td>@artista.Nacionalidade</td>
                <td>@artista.EstadoCivil</td>
                <td>@artista.QuantidadedeFilhos</td>
                <td>
                    <a class="btn btn-secondary" asp-controller="GerenciarElenco" asp-action="EditarElenco" asp-route-Id="@artista.Id">Editar</a>
                    <a class="btn btn-danger" 
                        href="javascript:func()" onclick="confirmacao(@artista.Id, '@artista.NomeReal')">Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

