@model SeriadoInfo

<figure>
    <img class="titulo-seriadoinfoview" src="~/imagens/tituloparaview.jpg" />
</figure>
<table class=" table">

    <tbody>
        <tr>
            <th>Elenco Principal</th>
            <td>
                @foreach (var elenco in Model.Elenco)
                {
                    <a asp-action="InfoPessoal" asp-route-Id="@elenco.Id">@elenco.NomeReal</a>
                    <br />
                }
            </td>
        </tr>
        <tr>
            <th>Gênero</th>
            <td>@Model.Genero</td>
        </tr>
        <tr>
            <th>Criadores</th>
            <td>
                @foreach (var producao in Model.Criadores)
                {
                    <a asp-action="InfoPessoal" asp-route-Id="@producao.Id"> @producao.NomeReal</a>
                    <br />
                }

            </td>
        </tr>
        <tr>
            <th>Numero de Temporadas</th>
            <td>@Model.TotaldeTemporadas</td>
        </tr>
        <tr>
            <th>Numero de Episódios</th>
            <td>
                <a asp-controller="Temporadas" asp-action="Index">@Model.TotaldeEpisodios (Lista de Episódios por Temporada)</a>
            </td>
        </tr>
        <tr>
            <th>Resumo da Série</th>
            <td>
                <a class="btn btn-primary" asp-action="Resumo">Breve Resumo</a>
            </td>
        </tr>
        <tr>
            <th>Informações Sobre o Seriado</th>
            <td>
                <a class="btn btn-primary" asp-action="InfoSerie">Saiba Mais</a>
            </td>
        </tr>

    </tbody>

</table>