@model Elenco

<h1>@Model.NomeReal</h1>
<table class="table">
    <thead>
        <tr>
            <th>Data de Nascimento</th>
            <th>Pais de Origem</th>
            <th>Quantidade de Filhos</th>
            <th>Estado Civil</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.DatadeNascimento.ToString("dd/MM/yyyy")</td>
            <td>@Model.Nacionalidade</td>
            <td>@Model.QuantidadedeFilhos</td>
            <td>@Model.EstadoCivil</td>
        </tr>

    </tbody>

</table>

<h3 class="titulo-carreira">Biografia e Carreira</h3>
<div class="alterando-paraflex">
    <img src="@Model.CaminhoImagem" class="imagem-dimensoes imagem-infopessoal">
     <p>@Model.Carreira</p>
</div>